body{
    font-family: 'Montserrat', sans-serif; 
    background-color: #EDDDD0  
    
}
h1{
    display: flex;
    justify-content: center;
    color: #334259;
}
header ul{
    display: flex;
    justify-content: center;   
}

.bgone{
    background-color: #A6CAD4;
}


/* .navbar{
    background-color: lightblue;
    text-align: center;
    list-style-position: inside;
} */