body{
    font-family: 'Montserrat', sans-serif; 
    background-color: #EDDDD0  
    
}
h1{
    display: flex;
    justify-content: center;
    color: #334259;
}
header ul{
    display: flex;
    justify-content: center;   
}

.bgone{
    background-color: #A6CAD4;
}
li{
    margin:20px;
    list-style-type: none;
}
section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr;
}
main h2{
    grid-column: 1;
    grid-row: 1;
}
h2+p{
    grid-column: 1;
    grid-row: 2;
}
img{
    grid-column: 2;
    grid-row: 1/4;
}
img+p{
    grid-column: 1;
    grid-row: 4;
}


/* .navbar{
    background-color: lightblue;
    text-align: center;
    list-style-position: inside;
} */